<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>

        html,body {
            margin: 0 auto;
            padding: 0 auto;
        }
        
        form {
            margin: auto;
            border: 1px solid;
            background-color: whitesmoke;
            color: black;
            font-weight: bold;
            width: 70%;
        }
        p {
            font-family: Roboto;
            font-size: 40px;
            font-weight: bold;
            color: black;
        }

        #save {
            border: 2px solid black;
            padding: 10px 20px;
        }
    </style>
</head>

<body style="text-align:center;">
<%-include('./partial/partialUser.ejs', {})%>
    <form action="/user/edit/<%=output.id%>" method="POST" enctype="multipart/form-data">
        <p> Profile</p>
        <label for="firstname"> First Name </label> <br>
        <input id = "firstname" type="text" name="firstname" value='<%=output.firstname%>'><br>
        <label for="lastname"> Last Name </label> <br>
        <input id = "lastname" type="text" name="lastname" value='<%=output.lastname%>'><br>
        <label for="email"> Email </label> <br>
        <input id = "email" type="text" name="email" value='<%=output.email%>'><br>
        <label for="IPK"> IPK </label> <br>
        <input id = "IPK" type="number" name="IPK" value='<%=output.IPK%>'><br>
        <label for="skill"> skill </label> <br>
        <textarea name='skill' rows='4' cols='50'>
        <%= output.skill%>
        </textarea>
        <button id= "save" type="submit">Masukkan</button>
    </form>
</body>

</html>